<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ACCTNOPRDNOMAPPING">

    <insert id="insert" parameterType="com.suning.fab.faibfp.bean.AcctnoPrdnoMapping">
        insert into ACCTNOPRDNOMAPPING(receiptNo,productcode,createtime,updatetime)
            values (#{receiptNo},#{productCode},CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    </insert>

    <select id="selectByKey" parameterType="map" resultType="com.suning.fab.faibfp.bean.AcctnoPrdnoMapping">
        select receiptNo,productcode
        from ACCTNOPRDNOMAPPING
        where acctno = #{receiptNo}
    </select>


</mapper>